/* *{
    background-color: whitesmoke;
} */

.heading{
    font-size: 30px;
    font-weight: 700;
    color: teal;
    margin-bottom: 15px;
}
.cart-parent{
   
    
    
    display: flex;
    
    justify-content: space-between;
    margin: auto;
    
}
.cart_container{

    width: 60%;
}
.cart-div{
    width: 80%;
    border: 1px solid rgb(91, 91, 91);
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
 
}
.payment_checkout{
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(8, 7, 7, 0.24) 0px 3px 8px;
    width: 30%;
    height: 250px;
    position: sticky;
    top: 150px;

}
.cart-div>div{
    
    padding: 20px 0px;
    
}

.cart-div>div:nth-child(1){
    width: 30%;
}
.cart-div>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: large;
    width: 70%;
}
.button{
    width: 80px;
    padding: 10px;
    background-color: rgb(223, 5, 5);
    color: white;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}




@media only screen and (min-width:700px) and (max-width:1155px){
    .cart-div{
        flex-direction: column;
    }
    .cart-div>div:nth-child(1){
        width: 50%;
    }
    .cart-div>div:nth-child(2){
        width: 100%;
    }
}

@media only screen and (min-width:300px) and (max-width:699px){
    .cart-div{
        flex-direction: column;
    }
    .cart-div>div:nth-child(1){
        width: 50%;
    }
    .cart-div>div:nth-child(2){
        width: 100%;
        flex-direction: column;
    }
}