.productCont{
    margin-top: 80px;
    width: 100%;
    height: auto;
 
}

.tag{
    width: 85%;
    border-bottom: 1px solid rgb(190, 190, 190);
    margin: 10px auto;
    text-align: left;
    padding: 8px 0px;
    color: rgb(79, 79, 79);
}


.prodMain{
    width: 85%;
    margin: 15px auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.leftCont{
    width: 20%;
    font-size: small;
    position: sticky;
    top: 120px;
}


.products{
    width:80% ;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    gap: 15px;
    padding: 10px;
}


.product{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   display: flex;
   flex-direction: column;
   text-align: left;
   padding: 10px;
   border-radius: 5px;
}

.product:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product>img{
    height: 40%;
}

.types{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    gap: 8px;
    
    font-size: 15px;
}

.typeCol{
    font-size: 13px;
    width: 30%;
    border-radius: 2px;
    color: white;
    background-color: rgba(67, 206, 216, 0.931);
    padding: 2px 3px;
}




.skeleton {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 0px 30px;
    margin: auto;
    margin-top: 140px;
  }

  .notFound {
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 140px;
  height: auto;
  text-align: center;
}

.notFound > img {
  height: 500px;
  width: 70%;

  margin: auto;
}

.notFound > button {
  background-color: #ff5697;
  color: aliceblue;
  width: 20%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;

  font-size: large;
  margin: 15px 0px;
}

.notFound > button:hover {
  background-color: #fc2779;
  color: azure;
}


@media only screen and (min-width:700px) and (max-width:1155px){
    .products{
        grid-template-columns: repeat(2,1fr);
        
    }
    .leftCont{
        display: flex;
        width: 90%;
        position: static;
    }
    .prodMain{
        flex-direction: column;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    .skeleton{
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
}


@media only screen and (min-width:300px) and (max-width:699px){
    .products{
        grid-template-columns: repeat(1,1fr);
    }
    .leftCont{
        display: flex;
        width: 100%;
        position: static;
    }
    .prodMain{
        flex-direction: column;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    .skeleton{
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }
}