.productCont{
    margin-top: 80px;
    width: 100%;
    height: auto;
    border: 1px solid blue;
}

.tag{
    width: 85%;
    border-bottom: 1px solid rgb(190, 190, 190);
    margin: 10px auto;
    text-align: left;
    padding: 8px 0px;
    color: rgb(79, 79, 79);
}


.prodMain{
    width: 85%;
    border: 1px solid rgb(115, 57, 202);
    margin: 15px auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.leftCont{
    width: 20%;
    border: 1px solid paleturquoise;
    position: sticky;
    top: 120px;
}


.products{
    width:75% ;
    border: 1px solid salmon;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    gap: 15px;
    padding: 3px;
}

.product{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   display: flex;
   flex-direction: column;
   text-align: left;
   padding: 10px;
}


.product>img{
    height: 40%;
}

.types{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    gap: 8px;
    
    font-size: 15px;
}

.typeCol{
    font-size: 13px;
    width: 30%;
    border: 1px solid grey;
    border-radius: 2px;
    color: white;
    background-color: rgba(67, 206, 216, 0.931);
    padding: 2px 3px;
}













.skeleton {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 0px 30px;
    margin: auto;
    margin-top: 140px;
  }

  .notFound {
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 140px;
  height: auto;
  text-align: center;
}

.notFound > img {
  height: 500px;
  width: 70%;

  margin: auto;
}

.notFound > button {
  background-color: #ff5697;
  color: aliceblue;
  width: 20%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid aliceblue;
  font-size: large;
  margin: 15px 0px;
}

.notFound > button:hover {
  background-color: #fc2779;
  color: azure;
}